/*
Z-INDEX:
Видимые элементы 1-99 Видимые
Скрытые элементы 100-199
Контейнеры для аякса 200-299
Динамически создаваемые элементы 300+
*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

@substrate-background: #2E2D2E;
@accent-color: #541EBD;

@charset "utf-8";

/*FONTS*/
@font-face {
  font-family:'Montserrat';
  src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
//@font-face {
//  font-family:'Roboto Light';
//  src: url(./fonts/Roboto/Roboto-Light.ttf);
//}

@font-face {
  font-family:'WorkSans Regular';
  src: url(./fonts/WorkSans/Web/WorkSans-Regular.woff);
}
@font-face {
  font-family:'WorkSans Bold';
  src: url(./fonts/WorkSans/Web/WorkSans-Bold.woff);
}
@font-face {
  font-family:'WorkSans Medium';
  src: url(./fonts/WorkSans/Web/WorkSans-Medium.woff);
}

//@font-face {
//  font-family:'Roboto Regular';
//  src: url(./fonts/Roboto/Roboto-Regular.ttf);
//}
//@font-face {
//  font-family:'Roboto Medium';
//  src: url(./fonts/Roboto/Roboto-Medium.ttf);
//}
//@font-face {
//  font-family:'Roboto Bold';
//  src: url(./fonts/Roboto/Roboto-Bold.ttf);
//}
//@font-face {
//  font-family:'Roboto Italic';
//  src: url(./fonts/Roboto/Roboto-Italic.ttf);
//}
/*FONTS*/



@font-size: 1rem;
@font-color: lch(53 105 40);


/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "WorkSans Regular";
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Reset */

a {
  text-decoration: none;
  color: #FFFFFF;
}

b, strong {
  font-weight: 900;
}
i {}

p {
  padding: 10px 0;
  line-height: 28px;
  font-weight: 500;
  font-size: 18px;
}

h1 {
  font-size: 21px;
  padding: 10px 0;
  display: flex;
  align-items: center;
}


h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #e7e7e7;
  text-align: left;
}

:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFFFFF;
  font-size: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFFF;
  font-size: 15px;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  line-height: 1.42857;
  font-size: 15px;
  background: #0B0C0C;
  color: #e7e7e7;
}

.main {
  padding-top: 60px;
}

.top-line {
  max-width: 100%;
  height: 3px;
  background: #e74c3c;
  position: fixed;
}

.arrow-to-top {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 30px;
  opacity: 0.3;
  cursor: pointer;
}
.arrow-to-top.hide {
  display: none;
}

.arrow-to-down {
  position: absolute;
  top: 90%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: 50px;
  opacity: 0.3;
  cursor: pointer;
  animation-name: top-down;
  animation-timing-function: ease;
  padding: 15px;
  z-index: 1000;
}

@keyframes top-down {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.arrow-to-top:hover {
  opacity: 0.9;
}

/* Общие модификаторы.. */
.hidden, .hide { display: none; }
.invisible { visibility: hidden; }
/* ..Общие модификаторы */

.main-page__banner,
.main-page__anons,
.main-page__speakers,
.main-page__contacts,
.main-page__registration {

}

.main-page__banner {
  padding: 0px;
}


// АНОНОС //
.main-page__anons {
  min-height: 40vh;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  //font-weight: 900;
  //display: flex;
  //grid-gap: 10%;
  //grid-template-columns: 100%;
  //align-content: center;
  //justify-content: center;
  //align-items: center;
  max-width: 1440px;
}

.main-page__anons__container {
  position: relative;
  min-height: 40vh;
  //background-image: url("https://brandnewconference.ru/images/cinema2.png");
  //background-size: 100vh;
  //background-repeat: no-repeat;
  //background-position: 100% 0%;
  //display: flex;
  //flex-flow: column;
  max-width: 1280px;
  padding-top: 80px;
}

.departure-board-container {
  font-family: "WorkSans Medium";
  position: absolute;
  width: 1020px;
  left: 20px;
  top: 160px;
  font-size: 125px;
  zIndex: 10000000;

}

.big_ball {
  position: absolute;
  width: 528px;
  height: 528px;
  left: 264px;
  top: 200px;
  background: #6D22C4;
  border-radius: 50%;
  zIndex: 100;
}

.main-page__anons__block_date {
  position: absolute;
  width: 204px;
  height: 112px;
  left: 1010px;
  top: 424px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 29px;
}

.main-page__anons__block_time {
  position: absolute;
  width: 170px;
  height: 112px;
  left: 1030px;
  top: 426px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 112px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.main-page__anons__registration {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  position: absolute;
  height: 29px;
  left: 810px;
  top: 516px;
  width: 198px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #9747FF;
}

.main-page__anons__address {
  position: absolute;
  width: 600px;
  height: 29px;
  left: 810px;
  top: 550px;
  color: #FFFFFF;
}
.main-page__anons__address p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.main-page__anons__address p.main-page__anons__address__title {
  position: relative;
  width: 170px;
  height: 15px;
  top: -12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}



.main-page__anons__main-text {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 356px;
  padding: 40px;
}

.main-page__anons__main-text-text__title {
  font-family: "WorkSans Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.main-page__anons__main-text-text {
  border: 1px solid #4D4D4D;
  border-radius: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 40px;
}

.main-page__anons__main-text-balls {
  position: relative;
}

.main-page__anons__main-text-balls__big-ball {
  width: 260px;
  height: 260px;
  position: absolute;
  left: 16%;
  top: 0%;
  bottom: 33.67%;
  background: rgba(109, 34, 196, 0.8);
  filter: blur(2px);
  backdrop-filter: blur(11px);
  border-radius: 50%;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}
.main-page__anons__main-text-balls__middle-ball {
  width: 221px;
  height: 223px;
  position: absolute;
  left: 42%;
  top: 15%;
  bottom: 23.21%;
  background: rgba(151, 71, 255, 0.8);
  filter: blur(2px);
  backdrop-filter: blur(11px);
  border-radius: 50%;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}
.main-page__anons__main-text-balls__small-ball {
  width: 209px;
  height: 210px;
  position: absolute;
  left: 6%;
  top: 29%;
  bottom: 0%;
  background: rgba(79, 12, 157, 0.8);
  filter: blur(2px);
  backdrop-filter: blur(11px);
  border-radius: 50%;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.main-page__anons__main-text-balls:hover .main-page__anons__main-text-balls__big-ball {
  top: 10%;
  left: 10%;
}
.main-page__anons__main-text-balls:hover .main-page__anons__main-text-balls__middle-ball {
  top: 22%;
  left: 56%;
}
.main-page__anons__main-text-balls:hover .main-page__anons__main-text-balls__small-ball {
  top: 39%;
  left: 2%;
}

  // АНОНОС //



// Спикеры //
.main-page__speakers {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  min-height: 50vh;
  margin: 0 auto;
}
.main-page__speakers__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: column;
  max-width: 1440px;
  padding: 10px;
  max-width: 100vw;
}
.main-page__speakers__title {
  padding-bottom: 60px;
}
// Спикеры //



.main-page__contacts {
  padding: 20px;
  margin: 0;
  background: #121212;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.main-page__contacts__container {
  max-width: 1440px;
  grid-template-columns: 1fr 320px;
  width: 100%;

}

.main-page__contacts__head {
  font-size: 1.8rem;
}
.main-page__contacts__item {
  font-size: 1rem;
}



.main-page__registration {
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: column;
  min-height: 60vh;
}



.main-page__registration__title {
  grid-area: reg_titile;
  padding: 0px 0 32px 0;
  font-size: 45px;
}
.main-page__registration__descr {
  font-size: 14px;
  font-weight: 300;
  padding-left: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.main-page__registration__form {
  grid-area: reg_form;
  padding: 0px 40px 40px 0px;
  border-radius: 2px;
  margin-top: 10px;
}

.main-page__timing {
  padding: 40px;
  min-height: 50vh;
}

.main-page__faq {
  padding: 20px;
  min-height: 50vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.main-page__faq__container {
  max-width: 1440px;
}

.main-page__faq__title {
  padding-bottom: 32px;
  padding-top: 40px;
}

.main-page__translation {
  padding: 40px;
  min-height: 50vh;
}

.main-page__archive {
  padding: 40px;
  min-height: 50vh;
}

.mail-icon {
  width: 30px;
  top: 10px;
  position: relative;
  margin-right: 10px;
}

.vk-icon {
  width: 30px;
  top: 10px;
  position: relative;
  margin-right: 10px;
}
.vk-icon:hover, .mail-icon:hover {opacity: 0.5;}


// Верхний баннер //
.banner-block {
  position: relative;
  box-sizing: border-box;
 // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #05051e, #000000);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
  min-height: 800px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
}

.banner-block__container {
  width: 100%;
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
  height: inherit;
}

.banner-block__title {
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
  border-bottom: 4px solid #FFFFFF;
  border-top: 4px solid #FFFFFF;
  margin-bottom: 10px;
}
.banner-block__svg-banner {
  max-width: 90vw;
}


.reg-share-link {
  margin: 20px 10px;
  display: flex;
  alignItems: center;
  border: 1px solid #D9D9D9;
  border-radius: 100px;
  max-width: 160px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
}
.reg-share-link:hover {
  border: 1px solid #858585;
}




@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
// Верхний баннер //

@media screen and (min-width: 768px) {
  //.arrow-to-top {
  //  border: 1px solid red;
  //}
}

@media screen and (min-width: 990px) {

  .arrow-to-top {
    width: 50px;
  }

  .banner-block__title {
    font-size: 50px;
    text-align: center;
  }
  .banner-block__svg-banner {
    width: 70vw;
  }

  .nav-button {
    display: none;
  }

  //.main-page__anons {
  //
  //  grid-gap: 10%;
  //  grid-template-columns: 100%;
  //}

  .main-page__anons__container {

  }



  .main-page__registration {

  }
  .main-page__speakers__container {
    padding: 0 80px;
  }

  .main-page__registration_container {
    padding: 80px 60px 80px 60px;
    display: grid;
    //grid-template-areas: "reg_titile reg_titile"
    //                   "reg_form reg_descr";
    //grid-template-columns: 50% 50%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .main-page__contacts {
    padding: 40px 80px 80px 80px;
  }

  .main-page__faq {
    padding: 80px;
  }

}

@media screen and (min-width: 1280px) {
  //.arrow-to-top {
  //  border: 1px solid red;
  //}
}


