/*
Z-INDEX:
Видимые элементы 1-99 Видимые
Скрытые элементы 100-199
Контейнеры для аякса 200-299
Динамически создаваемые элементы 300+
*/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "WorkSans Regular";
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  line-height: 1.42857;
  font-size: 15px;
  background: #121212;
  color: #e7e7e7;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

@substrate-background: #2E2D2E;
@accent-color: #541EBD;

@charset "utf-8";

/*FONTS*/
@font-face {
  font-family:'WorkSans Regular';
  src: url(./fonts/WorkSans/Web/WorkSans-Regular.woff);
}
@font-face {
  font-family:'WorkSans Bold';
  src: url(./fonts/WorkSans/Web/WorkSans-Bold.woff);
}
@font-face {
  font-family:'WorkSans Medium';
  src: url(./fonts/WorkSans/Web/WorkSans-Medium.woff);
}

@font-size: 1rem;
@font-color: lch(53 105 40);

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Reset */

a {
  text-decoration: none;
  color: #FFFFFF;
}

b, strong {
  font-weight: 900;
}
i {}

p {
  padding: 10px 0;
  line-height: 22px;
  font-weight: 500;
  font-size: 0.94rem;
}

h1 {
  font-size: 21px;
  padding: 10px 0;
  display: flex;
  align-items: center;
}


h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #e7e7e7;
  text-align: left;
}


/* Общие модификаторы.. */
.hidden, .hide { display: none; }
.invisible { visibility: hidden; }
/* ..Общие модификаторы */

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.block-container {
  padding: 20px 20px;
  max-width: 1660px;
}

.header {
  display: grid;
  grid-template-areas: "logo nav_thumbler" "topnav topnav";
  grid-template-columns: 1fr 50px;
  justify-content: space-between;
  padding-top: 40px;
}

.logo {
  width: 100px;
  grid-area: logo;
  padding-left: 20px;
}

.main-page__banner,
.main-page__anons,
.main-page__speakers,
.main-page__contacts,
.main-page__registration {

}

.main-page__banner {
  padding: 0px;
}


// АНОНОС //
.main-page__anons {
  position: relative;
  min-height: 40vh;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  max-width: 1440px;
}

.main-page__anons__container {
  position: relative;
  min-height: 40vh;
  max-width: 1280px;
  padding: 20px;
}

.departure-board-container {
  font-family: "WorkSans Medium";
  position: absolute;
  left: 0px;
  top: 1.2rem;
  font-size: 125px;
  zIndex: 10000000;
}

.big_ball {
  position: absolute;
  width: 11rem;
  height: 11rem;
  left: 6rem;
  top: 0.5rem;
  background: #6D22C4;
  border-radius: 50%;
  zIndex: 100;
}

.main-page__anons__registration {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  position: absolute;
  left: 0;
  top: 11.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #9747FF;
}

.main-page__anons__block_date {
  position: absolute;
  height: 112px;
  left: 0px;
  top: 14rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 29px;
  text-align: left;
}

.main-page__anons__block_time {
  position: absolute;
  text-align: left;
  height: 112px;
  left: 6rem;
  top: 13.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 112px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.main-page__anons__address {
  position: absolute;
  left: 0;
  top: 17.7rem;
  color: #FFFFFF;
}
.main-page__anons__address p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 20px;
  break-word: keep-all;
}

.main-page__anons__address p.main-page__anons__address__title {
  position: relative;
  top: -20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}



.main-page__anons__main-text {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  padding: 0px;
}

.main-page__anons__main-text-text__title {
  font-family: "WorkSans Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.main-page__anons__main-text-text {
  border: 1px solid #4D4D4D;
  border-radius: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 15px;
}

.main-page__anons__main-text-balls {
  position: relative;
  display: none;
}

.main-page__anons__main-text-balls__big-ball {
  width: 260px;
  height: 260px;
  position: absolute;
  left: 16%;
  top: 0%;
  bottom: 33.67%;
  background: rgba(109, 34, 196, 0.8);
  filter: blur(2px);
  backdrop-filter: blur(11px);
  border-radius: 50%;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}
.main-page__anons__main-text-balls__middle-ball {
  width: 221px;
  height: 223px;
  position: absolute;
  left: 97%;
  top: 35%;
  background: rgba(151, 71, 255, 0.8);
  filter: blur(2px);
  backdrop-filter: blur(11px);
  border-radius: 50%;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}
.main-page__anons__main-text-balls__small-ball {
  width: 209px;
  height: 210px;
  position: absolute;
  left: 6%;
  top: 69%;
  bottom: 0%;
  background: rgba(79, 12, 157, 0.8);
  filter: blur(2px);
  backdrop-filter: blur(11px);
  border-radius: 50%;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.main-page__anons__main-text-balls:hover .main-page__anons__main-text-balls__big-ball {
  top: 1rem;
  left: -1rem;
}
.main-page__anons__main-text-balls:hover .main-page__anons__main-text-balls__middle-ball {
  top: 6rem;
  left: 8rem;
}
.main-page__anons__main-text-balls:hover .main-page__anons__main-text-balls__small-ball {
  top: 10rem;
  left: -2rem;
}

  // АНОНОС //



// Спикеры //
.main-page__speakers {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  min-height: 50vh;
  margin: 0 auto;
}
.main-page__speakers__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: column;
  padding: 0 40px;
  max-width: 100vw;
}
.main-page__speakers__title {
  padding-bottom: 60px;
}
// Спикеры //



.main-page__contacts {
  padding: 20px;
  margin: 0;
  background: #000000;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.main-page__contacts__container {
  max-width: 1440px;
  grid-template-columns: 1fr 320px;
  width: 100%;

}

.main-page__contacts__head {
  font-size: 2rem;
  text-transform: uppercase;
}
.main-page__contacts__item {
  font-size: 1rem;
  line-height: 1.6rem;
}



.main-page__registration {
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 60vh;
  max-width: 1440px;
}

.main-page__registration__grid-container {
  display: grid;
  grid-template-areas: "reg_form_descr" "reg_form_body";
  grid-template-columns: 100%;
}


.main-page__registration__title {
  grid-area: reg_titile;
  padding: 0px 0 10px 0;
  font-size: 2.7rem;
}

.main-page__registration__form__main-set {
  grid-area: reg_form_body;
}
.main-page__registration__descr {
  font-size: 14px;
  font-weight: 300;
  padding-left: 0px;
  padding-bottom: 10px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  grid-area: reg_form_descr;

}
.main-page__registration__form {
  grid-area: reg_form;
  padding: 0px 40px 40px 0px;
  border-radius: 2px;
  margin-top: 10px;
}

.main-page__timing {
  padding: 40px;
  min-height: 50vh;
}

.main-page__faq {
  padding: 0px;
  min-height: 50vh;

  //align-items: center;
  //align-content: center;
  //justify-content: center;
}

.main-page__faq__container {
  max-width: 1440px;
  padding-top: 20px;
}

.main-page__faq__title {
  line-height: 1.5rem;
  padding-bottom: 2.5rem;
  font-size: 2.7rem;
}

.main-page__translation {
  min-height: 50vh;
}

.main-page__archive {
  padding: 40px;
  min-height: 50vh;
}

.mail-icon {
  width: 30px;
  top: 10px;
  position: relative;
  margin-right: 10px;
}

.vk-icon {
  width: 30px;
  top: 10px;
  position: relative;
  margin-right: 10px;
}
.vk-icon:hover, .mail-icon:hover {opacity: 0.5;}


// Верхний баннер //
.banner-block {
  position: relative;
  box-sizing: border-box;
 // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
 // background: linear-gradient(-45deg, #05051e, #000000);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
}

.banner-block__container {
  width: 100%;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 58vh;
  min-height: 24rem;
}

.banner-block__title {
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
  border-bottom: 4px solid #FFFFFF;
  border-top: 4px solid #FFFFFF;
  margin-bottom: 10px;
}
.banner-block__svg-banner {
  max-width: 90vw;
}


.reg-share-link {
  margin: 20px 10px;
  display: flex;
  alignItems: center;
  border: 1px solid #D9D9D9;
  border-radius: 100px;
  max-width: 160px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
}
.reg-share-link:hover {
  border: 1px solid #858585;
}

.arrow-to-down {
  position: absolute;
  top: 94%;
  left: calc(50% - 44px);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: 50px;
  opacity: 0.3;
  cursor: pointer;
  animation-name: top-down;
  animation-timing-function: ease;
  padding: 15px;
  z-index: 1000;
}
@keyframes top-down {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  position: relative;
  font-size: 1.0rem;
  box-sizing: border-box;
  transition: all .2s ease;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-decoration: none!important;
  line-height: 2.3rem;
  background: no-repeat 50% 50%;
  background-size: auto 90%;
  color: inherit;
}
.btn-outline-dark {
  background-color: transparent;
  box-shadow: 0 0 0 1px currentColor;
  margin: 30px 20px 24px 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  font-size: 1.0rem;
  transition: all 0.3s ease;
}
.btn-outline-dark:hover {
  opacity: 0.7;
}

.arrow-icon {
  display: block;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.3rem 4rem 0.3rem 1.2rem;
  background-image: url("@assets/svg/btn-arrow.svg");
  background-size: 1.1rem;
  background-position: 90% 50%;
  background-repeat: no-repeat;
}


//
//@keyframes gradient {
//  0% {
//    background-position: 0% 50%;
//  }
//  50% {
//    background-position: 100% 50%;
//  }
//  100% {
//    background-position: 0% 50%;
//  }
//}
// Верхний баннер //

@media screen and (max-width: 767px) {

  //.main-page__anons__block_date {
  //  left: 0px;
  //}
  //
  //.main-page__anons__block_time {
  //  left: 25px;
  //}
  //
  //.main-page__anons__registration {
  //  left: 0;
  //}

  //.main-page__anons__address {
  //  left: 0;
  //}


}

@media screen and (min-width: 768px) {

  .header {
    display: grid;
    grid-template-areas: "logo topnav";
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 20px;
  }

  .block-container {
    padding: 40px 20px;
    max-width: 1660px;
  }

  .banner-block__container {
    width: 100%;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 23.2rem;
  }

  .logo {
    width: 138px;
    padding-left: 10px;
  }

  .big_ball {
    position: absolute;
    width: 245px;
    height: 245px;
    left: 14rem;
    top: 3rem;
    background: #6D22C4;
    border-radius: 50%;
    zIndex: 100;
  }

  .departure-board-container {
    font-family: "WorkSans Medium";
    position: absolute;
    left: 0px;
    top: 3rem;
    font-size: 125px;
  }



  .main-page__anons__block_date {
    position: absolute;
    left: 22rem;
    top: 1.0rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 20px;
    text-align: left;
  }

  .main-page__anons__block_time {
    position: absolute;
    text-align: left;
    left: 25rem;
    top: -0.2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 112px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }

  .main-page__anons__registration {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    position: absolute;
    left: 410px;
    top: 19.9rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #9747FF;
  }

  .main-page__anons__address {
    position: absolute;
    left: 400px;
    top: 3.6rem;
    color: #FFFFFF;
  }
  .main-page__anons__address p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .main-page__anons__address p.main-page__anons__address__title {
    position: relative;
    width: 170px;
    height: 15px;
    top: -1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }

  .main-page__anons__container {
    padding: 20px;
  }
  .main-page__anons__main-text {
    grid-template-columns: 1fr 1px;
    width: 76%;
    margin: 0 auto 0 auto;
  }

  .main-page__anons__main-text-balls {
    display: block;
    position: absolute;
    top: 2rem;
    right: 0;
    width: 320px;
    height: 400px;
  }

  .main-page__anons__main-text-text {
    border: 1px solid #4D4D4D;
    border-radius: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 20px;
  }
  .main-page__anons__main-text-text p {
    //border: 1px solid red;
    //line-height: 28px;
  }


  .main-page__contacts {
    padding: 30px;
  }
  .main-page__contacts__head {
    padding-bottom: 18px;
  }
  .main-page__contacts__item {
    font-size: 1rem;
    line-height: 0.2rem;
    padding: 6px 0;
  }

  .main-page__faq__title {
    line-height: 2.5rem;
    font-size: 3.4rem;
    padding-bottom: 3rem;
  }


  .main-page__registration__grid-container {
    display: grid;
    grid-template-areas: "reg_form_descr" "reg_form_body";
    grid-template-columns: 100%;
  }

  .main-page__registration__descr {
    padding: 20px 30% 20px 0;
  }

  .main-page__registration__form__main-set {
    width: 80%;
  }

  .main-page__registration__title {
    grid-area: reg_titile;
    padding: 0px 0 10px 0;
    font-size: 3.4rem;
  }
}

@media screen and (min-width: 1280px) {

  .block-container {
    padding: 40px 20px 80px 20px;
    max-width: 1660px;
  }

  .big_ball {
    position: absolute;
    width: 528px;
    height: 528px;
    left: 20rem;
    top: 1rem;
    background: #6D22C4;
    border-radius: 50%;
  }

  .departure-board-container {
    font-family: "WorkSans Medium";
    position: absolute;
    left: 0px;
    top: 3.2rem;
    font-size: 125px;
    zIndex: 10000000;
  }

  .main-page__anons__block_date {
    position: absolute;
    left: calc(100% - 486px);
    top: 1.6rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-size: 75px;
    line-height: 29px;
    text-align: left;
  }

  .main-page__anons__block_time {
    position: absolute;
    text-align: left;
    left: calc(100% - 406px);
    right: 0px;
    top: 3.3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 112px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }

  .main-page__anons__registration {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    position: absolute;
    right: 52px;
    top: 25rem;
    left: calc(100% - 480px);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #9747FF;
  }

  .main-page__anons__address {
    position: absolute;
    width: 400px;
    left: calc(100% - 480px);
    top: 27rem;
    color: #FFFFFF;
  }
  .main-page__anons__address p {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
  }

  .main-page__anons__address p.main-page__anons__address__title {
    position: relative;
    width: 170px;
    height: 15px;
    top: -12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }

  .banner-block__container {
    width: 100%;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 34rem;
  }

  .main-page__anons {
    display: grid;
    grid-template-areas: "anons_info anons_balls";
    grid-template-columns: 1fr 500px;
    grid-gap: 4rem;
    width: 99%;
    max-width: 1440px;
    margin-top: 6rem;
    min-height: 70vh;
    align-items: center;
  }

  .main-page__anons__main-text-balls {
    display: block;
    grid-area: anons_balls;
    position: relative;
    top: 0rem;
  }

  .main-page__anons__container {
    grid-area: anons_info;
  }
  .main-page__anons__main-text {
    display: block;
    width: 100%;
    padding: 0px;
  }

  .main-page__anons__main-text-text {
    border: 1px solid #4D4D4D;
    border-radius: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 15px;
  }

  .main-page__contacts {
    padding: 30px;
    max-width: 1440px;
  }
  .main-page__contacts__head {
    padding-bottom: 20px;
  }
  .main-page__contacts__item {
    font-size: 1rem;
    line-height: 0.1rem;
    padding: 6px 0;
  }

  .main-page__registration__grid-container {
    display: grid;
    grid-template-areas: "reg_form_body reg_form_descr";
    grid-template-columns: 50% 50%;
  }

  .main-page__registration__title {
    font-size: 4.5rem;
    margin-bottom: 20px;
  }

  .main-page__registration__descr {
    font-size: 14px;
    font-weight: 300;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-right: 30%;
    box-sizing: border-box;
  }

  .main-page__registration__form__main-set {
    width: 100%;
  }

  .main-page__faq__title {
    font-size: 4.5rem;
  }


  .main-page__speakers {
    padding: 0px;
  }
  .main-page__speakers__container {
    padding: 0px 40px;
  }

  .main-page__contacts__container {
   // margin-top: 40px;
  }
}

//@media screen and (min-width: 990px) {
//
//  .banner-block__title {
//    font-size: 50px;
//    text-align: center;
//  }
//  .banner-block__svg-banner {
//    width: 70vw;
//  }
//
//  .nav-button {
//    display: none;
//  }
//
//  //.main-page__anons {
//  //
//  //  grid-gap: 10%;
//  //  grid-template-columns: 100%;
//  //}
//
//  .main-page__anons__container {
//
//  }
//
//
//
//  .main-page__registration {
//
//  }
//  .main-page__speakers__container {
//    padding: 0 80px;
//  }
//
//  .main-page__registration_container {
//    box-sizing: border-box;
//    padding: 20px 40px 80px 40px;
//    display: grid;
//    width: 100%;
//    //grid-template-areas: "reg_titile reg_titile"
//    //                   "reg_form reg_descr";
//    //grid-template-columns: 50% 50%;
//    max-width: 1440px;
//    margin: 0 auto;
//  }
//
//  .main-page__contacts {
//    padding: 40px 80px 80px 80px;
//  }
//
//  .main-page__faq {
//    padding: 80px;
//  }
//
//}



